@font-face {
    font-family: 'founders-grotesk';
    src: url('assets/founders-grotesk-web-light.woff2') format('woff2');
        
  }
@font-face {
    font-family: 'tiempos-fine';
    src: url('assets/tiempos-fine-web-light.woff2') format('woff2');
   
  }
@font-face {
    font-family: 'Helvetica';
    src: url('assets/helvetica-light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('assets/Helvetica.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Uncut Sans';
    src: url('assets/Uncut-Sans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* ----------------------- scroll bar ------------------------ */

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e2e2e2;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    cursor: none;
}
body{
    
    overflow: hidden;
    
}
main{
    /* overflow-y: scroll; */
}
.hero-section{
    padding: 10px;
    min-height: 100vh;
    height: 100vh;
    font-family: 'Uncut Sans', sans-serif;
}

h1{
    /* color: #ffffff; */
    font-weight: 400;
    letter-spacing: -.6vw;
    line-height: .75;
}



/* #invertedcursor {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    top: var(--y, 0);
    left: var(--x, 0);
    transform: translate(-50%, -50%);
    z-index: 2;
    mix-blend-mode: difference;
    transition: transform .2s;
  } */

  html {
    cursor: none;
  }
  
  #circularcursor {
    background-color: #fff;
    border:1px solid #ffffff;    
    height:50px;
    width:50px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    position: absolute;mix-blend-mode: difference;
    z-index: 1;
  }


::selection { background: rgba(255, 255, 255, 0.531); color: black; }

 