
<header class="w-full fixed z-[10]">
    <nav class="flex justify-around itmes-center ">
        <div class=" flex items-center justify-center">
            <a href="./" class="">
                <!-- <img src="./pics/vishnu32x32.png" alt="VISHNU"> -->
                <span class="text-white text-2xl cursor-pointer font-bold" id="gradient">VK</span>
            </a>
        </div>
        <div class=" flex items-center justify-center text-white">
            <ul class="flex ">
                <li class="p-3"><a href="./contact">Contact</a></li>
                <li class="p-3"><a href="./blog">Blogs</a></li>

            </ul>
        </div>
        <div class="">

        </div>
    </nav>
</header>
