{{ define "main" }}

    <section >
    
        <div class="flex items-center justify-center overflow-hidden h-[80vh]">

            <h3 class="text-8xl text-white">Under<br>Constructionnnnnn....</h3><br>`
            <h2>now i am working on this</h2>
            
        </div>

    </section>



    {{ with .Site.GetPage "/home/about.md" }}
        <h2>
            {{ .Title }}
        </h2>
        <div>
            {{ .Content }}
        </div>
    {{ end }}


    <hr>


    {{ with .Site.GetPage "/home/services/" }}

        <h2>{{ .Title }}</h2>

        {{ range .Pages }}
            <div>
                <b>
                    {{ .Title }}
                </b>
                {{ .Content }}
            </div>
        {{ end }}
    {{ end }}



{{ end }}
